


<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2>{{msg}}</h2>
        <h3>{{info}}</h3>
         <a href="/">Search Page</a>
        <span> || </span>
        <a href="/list">Show results as a list</a>
        <span> || </span>
        <a href="/map">Show results on a map</a>
        <span> || </span>
        <a href="/combo">show results on both map and list</a>

      </div>
    </div>
    <br>
    <div class="row">

      <div class="col-8 offset-2 text-center">
        <div class="result-title">Search Results:</div>
        <div>
          {{#each data}}
          <div>{{this.name}}</div>
          <span>Rating: {{this.rating}}, </span>
          <span>Price: {{this.price}}, </span>
          <span> Phone: {{this.phone}}, </span>
          <div class="image-area">
            <image id="recent-image" src='{{this.image_url}}'></image>
          </div>

          <a href='{{this.url}}'>business website</a>
          <div>{{this.street}}</div>
          <span>{{this.city}}, </span>
          <span>{{this.state}}, </span>
          <span>{{this.zip}}</span>
          {{/each}}
        </div>


      </div>
    </div>



  </div>
</div>
<script type="text/javascript" src="js/list.js"></script>



